@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(
    68.15deg,
    rgb(175, 145, 109) 16.62%,
    rgb(206, 199, 186) 85.61%
  );
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin: 10px 5px;
  align-self: center;
  border: 20px;
  border-radius: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid black;
}

text {
  margin-right: auto;
  font-family: "Dancing Script", cursive;
  color: rgb(71, 27, 16);
  font-weight: 400;
  font-size: 60px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

a {
  font-family: "Dancing Script", cursive;
  color: rgb(62, 28, 28);
  font-weight: 400;
  font-size: 30px;
  padding: 10px;
  margin: auto;
}

a:hover {
  color: rgb(125, 89, 89);
}

.content .contact-me {
  padding-left: 30px;
  margin-bottom: 48px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid black;
}

.featured-project {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.featured-card {
  position: relative;
  padding-top: 0;
  margin: 30px;
  width: 1000px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-evenly;
}

.future-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  position: relative;
  padding-top: 0;
  margin: 30px;
  height: 360px;
  width: 460px;
  border-radius: 10px;
  overflow: hidden;
}

.project-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  z-index: 2;
  border-radius: 10;
  background-color: rgb(125, 89, 89);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit:initial ;
  border: 5px solid rgb(125, 89, 89);
}

.about-me-paragraph,
.my-email {
  padding-left: 30px;
  text-align:center;
  margin: 0% 5%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3 {
  text-align:center;
  padding: 20px 20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}
